@page "/"
@using MLModelFocusArea3
@using MLModelIntent2


<PageTitle>Index</PageTitle>

<div class="row text-center">
    <div class="col-6">
        <RadzenTextArea @bind-Value="@tekst" />
    </div>
    <div class="col-6">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@GetIntentAndFocusArea">Submit</RadzenButton>
    </div>

    @if (predictionResultFocusarea != null && predictionResultIntent != null)
    {
        <div class="row">
            <div class="col-6">
                <RadzenCard>
                    <RadzenLabel Text="Intent: " />
                    <RadzenLabel Text="@predictionResultIntent.PredictedLabel" />
                </RadzenCard>
            </div>
            <div class="col-6">
                <RadzenCard>
                    <RadzenLabel Text="FocusArea: " />
                    <RadzenLabel Text="@predictionResultFocusarea.PredictedLabel" />
                </RadzenCard>
            </div>
        </div>
    }

</div>

@code {
    private string tekst = string.Empty;
    private MLModelIntent1.ModelOutput? predictionResultIntent;
    private MLModelFocusArea1.ModelOutput predictionResultFocusarea;


    private async Task GetIntentAndFocusArea()
    {
        MLModelIntent1.ModelInput sampleDataIntent = new MLModelIntent1.ModelInput()
            {
                Utterances = tekst,
            };

        // Make a single prediction on the sample data and print results
        predictionResultIntent = MLModelIntent1.Predict(sampleDataIntent);

        MLModelFocusArea1.ModelInput sampleDataFocusarea = new MLModelFocusArea1.ModelInput()
            {
                Utterances = tekst,
            };

        // Make a single prediction on the sample data and print results
        predictionResultFocusarea = MLModelFocusArea1.Predict(sampleDataFocusarea);

    }




}